*{
  margin: 0 !important;
  padding: 0 !important; 


}

@font-face {
    font-family: "vazir";
    src: url(../fonts/Vazir.eot);
    src: url(../fonts/Vazir.ttf) format("woff"),
    url(../fonts/Vazir.woff) format("woff2"),
    url(../fonts/Vazir.woff2) format("truetype") ;
}
@font-face {
    font-family: "lalezar";
    src: url(../Lalezar-Font/OTF/Lalezar-Regular.otf);
    src: url(../Lalezar-Font/TTF/Lalezar-Regular.ttf) 
    ;
}
:root{
    --clr-primery-1: #582f0e;
    --font_lalezar:"lalezar";
      --transition: all 0.4s linear;
 
}

body{
    font-family: "vazir"!important;
  background-color:rgb(242, 235, 221)!important;
}

a{
  text-decoration: none !important;
}


nav a {
  color:var(--clr-primery-1) !important;
}



  @media screen and (min-width: 576px  ) and (max-width:1200px  ) {
    
    .text-home{
     
        font-size: 1rem !important;
        font-weight: 800 !important;
    }
   .text-nav{
    font-weight: 800 !important;
    font-size: 0.75rem !important;
   }
  }


  .namaiesh{
    display: none;
}

.namaiesh-lg{
  display: block;
}

@media screen and (max-width:992px) {

  .namaiesh{
  display: block;
  }

  .namaiesh-lg{
    display: none;
  }
}




@media screen and (max-width:992px) {

  .nav-btn11{
    color: var(--clr-primery-1);
    font-size:2rem;
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 1;
    cursor: pointer;
   
  }

  .navbar12{
    position: fixed;
  top: 0;
  right: 0;
  background-color: #f0ece8;
  z-index: 2;
  height: 100%;
width: 50%;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: var(--transition);

   
  }

  .showNav{
    transform: translate(0);
  }
}
.navbar-header{
  text-align: left;
}
.nav-close{

  font-size: 1.5rem;
  color: #f29c9c;
  cursor: pointer;
  transition: var(--transition);
}

.nav-close:hover{
  color: #bb2525;
}

.nav-item{
  list-style-type: none;
  direction: rtl;

}

.nav-link1{

  display: block; 
  padding: 0.5rem 1rem !important;
  font-size: 1.1rem;
  transition: var(--transition);
}

.nav-link1:hover{
background-color: #c7ad97;
border-right: 0.25rem solid var(--clr-primery-1) !important;
padding-right: 1.5rem !important;

}

.nav-link1 i{

  font-size: 1.4rem;
  margin-left: 0.3rem !important;
}



/* phon */


.connect{
  margin: 0 auto !important;
}

header{
 
   display: grid;
  height: 100% !important;
  padding: 1rem !important;
}

header h1 {

 margin-top: 2rem !important;
 
   color: var(--clr-primery-1);
   font-family: "lalezar";

  font-size: 3rem;
}

header p {

 
 
   color: var(--clr-primery-1);
}

.btn_brown{
  background: var(--clr-primery-1) !important;
  color:white !important;
  margin-top: 2rem !important;
  box-shadow: 0 7px 17px rgba(209, 147, 77, 0.534);
  margin-left: 1.5rem !important;
  padding: 0.5rem !important;
}


.btn_outlin{
  outline: 0.15rem var(--clr-primery-1) solid;
  margin-top: 2rem !important;
  color: var(--clr-primery-1) !important;
  padding: 0.5rem !important;
 }

 .connect-img{
 
  margin-top: 2rem !important;
   width: 18rem!important;
   height: 18rem!important;
  filter: drop-shadow(10px 5px 10px  rgba(207, 160, 106, 0.534));
   text-align: center !important;
 
}

.nav1{
  margin: 1rem auto !important;

}


  @media screen and (min-width: 992px ) {

    .section_header{
      display: flex;
      justify-items: center;
      margin: 0 !important;
    }
   

 header h1 {

    margin-top: 6rem;
   font-size: 4rem;
 }

 header p {
 
     margin-top: 7rem;
  }

  .btn_brown{

    margin-top: 3rem;
  }

  .btn_outlin{
  
   margin-top:3rem;
  }

.connect-img{
  margin-top: auto !important;

    width: 28rem!important;
    height: 28rem!important;
}




.connect_text{
  margin-top: 3rem !important;
}

  }


  .section-center{
    padding: 4rem 0 !important;
    width: 85vw !important;
    margin: 0 auto !important;
    max-width: 1170px !important;
  }
  
  

  .Products-tite{
  text-align: center;
  font-family:var(--font_lalezar) ;
  color: var(--clr-primery-1);
  font-size: 2rem;
  margin-top: 0.5rem !important;

  }

  .Products{
    position: relative;
    height:12rem;
   
  
  }
  

.Products-img{
  margin-top: 3rem !important;
  width: 6rem;
    height: 7rem;
  border-radius:30%;
  box-shadow: 0 7px 17px rgba(151, 128, 101, 0.534);
 
  position: absolute;
 
 right: 50%;
 
  transform: translate(50%,0) ;

} 



.Products h5{
margin-top: 1rem !important;
font-size: 1rem;
text-align: center;
color: var(--clr-primery-1);

 position: absolute;
 bottom: 0;
right: 50%;

 transform: translate(50%,0) ;
}



@media screen and (min-width :576px) and (max-width :1199px){

  .Products h5{
    margin-top: 1rem !important;
    font-size: 1rem;
    text-align: center;
  width: 4rem;

    }
    

}



/* best seller */

.sale{
  background:  rgba(209, 147, 77, 0.534);
  border-radius: 2rem;
  width: 7rem;

  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.hr_sale{
  margin-top: 1rem !important; 
  margin-right: 0.5rem !important;
  background-color: var(--clr-primery-1);
  width: 73%;
  height: 0.1rem;
}


.sale h5{
  color: var(--clr-primery-1);
  text-align: center;
  font-size: 0.75rem;
}

.Products-btn{

  outline: 0.15rem var(--clr-primery-1) solid;
  color: var(--clr-primery-1) !important;
  padding: 0.25rem 0.5rem!important;
  border-radius: 0.5rem !important;
  margin-right: 0.5rem !important;
}


.best{
  display: block !important;
  color: var(--clr-primery-1) ;
  font-family: var(--font_lalezar);
  font-size: 1.25rem;
  font-weight:100 !important;
  margin-right: 0.5rem !important;
 
}

.sale-text{
  display: none !important;
  color: var(--clr-primery-1) ;
  
}

@media screen and (min-width :200px) and (max-width :1199px){

  .Products-btn p{
    
    font-size: 0.7rem !important;
  }

  .sale-text{
   display: block !important;
  }

  .hr_sale{

    margin-right:0.25 !important;
  }
  

  .best{
    display: none !important;
 
  }
}


.card-title {
  color: var(--clr-primery-1) !important;
margin-bottom: 0.5rem !important;
}

.card-text{

  color: var(--clr-primery-1);
}


.btn_card{
  width:100%; 
  background: #582f0e !important;
  color: white !important;
  border-radius: 5rem !important;
}


.Products-card{
  width:16rem;
    background-color:rgb(242, 235, 221)!important;
     margin: 1.5rem 1.5rem !important;
     border-bottom-left-radius: 0.75rem !important; 
     border-bottom-right-radius:0.75rem !important;
}

@media screen and (min-width :200px) and (max-width :500px){

  .Products-card{
  
       margin: 1.5rem auto !important;
  
  }
}


/* baner */

.img-baner{
  object-fit: fill;
   width: 100% ;
   height:27rem;
    border-radius: 2rem;
    box-shadow: 0 7px 17px rgba(43, 35, 25, 0.644);
     
}

@media screen and (max-width :500px){
  .img-baner{
  
     width: 100% ;
     height:15rem;
  
       
  }
  
}



/* footer */

footer {

  position: relative;
}

footer h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,80%);
color: white;
font-family: var(--font_lalezar);
}

.logo_footer{
  position: absolute;
  top:10%;
  left: 50%;
  transform: translate(-50%,10%);
  width: 8rem ;
  height:8rem;
}

footer ul{
  position: absolute;
  bottom:0;
  left: 50%;
  transform: translate(-50%,0);
  list-style-type: none !important;
  color: white;

}


.myform{
  border: 4px solid lightgrey;
border-bottom: none;
}
.myformMain {
height: 200px;
padding: 36px 0;
box-sizing: border-box;
background-color: white;
}
.myformFooter::before{
content: " ";
display: block;
position: relative;
top: 0px;
left: 0px;
width: 100%;
height: 36px;
background: linear-gradient(rgb(212, 57, 57) 0%, transparent 0%), linear-gradient(135deg, #00000069 33.33%, transparent 33.33%) 0 0%,  #00000069 linear-gradient(45deg,  #00000069  33.33%, 33.33%) 0 0%;
background: -webkit-linear-gradient(rgb(207, 48, 48) 0%, transparent 0%), -webkit-linear-gradient(135deg, #00000069 33.33%, transparent 33.33%) 0 0%, #00000069 -webkit-linear-gradient(45deg, #00000069 33.33%,rgb(242, 235, 221) 33.33%) 0 0%;
background: -o-linear-gradient(rgb(207, 48, 48) 0%, transparent 0%), -o-linear-gradient(135deg, #00000069 33.33%, transparent 33.33%) 0 0%, #00000069 -o-linear-gradient(45deg,  #00000069 33.33%,rgb(242, 235, 221) 33.33%) 0 0%;
background: -moz-linear-gradient(rgb(207, 48, 48) 0%, transparent 0%), -moz-linear-gradient(135deg, #00000069 33.33%, transparent 33.33%) 0 0%, #00000069 -moz-linear-gradient(45deg,  #00000069 33.33%, rgb(242, 235, 221) 33.33%) 0 0%;
background: -ms-linear-gradient(rgb(207, 48, 48) 0%, transparent 0%), -ms-linear-gradient(135deg, #00000069 33.33%, transparent 33.33%) 0 0%,  #00000069 -ms-linear-gradient(45deg, #00000069 33.33%, rgb(242, 235, 221) 33.33%) 0 0%;
background-repeat: repeat-x;
background-size: 0px 47%, 14px 41px, 14px 42px
}




